<div ng-controller="homeController" ng-cloak>

    <div class="bg-info text-center card-news">
        <h3><b>GOOD NEWS!</b></h3>
        <p>Magni Collegium's BackOffice is now open for BETA Testing! Please give your feedback to the author.
    </div>

    <div class="row">
        <div class="text-center col-xs-12 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2 card">
            <h4><b>COURSES</b></h4>
            <p><b>There are currently {{courseCount}} active courses, with {{studentCount}} total students</b></p>
            <button class="btn" onclick="window.location='@Url.Action("Index", "Course")'">Manage</button>
        </div>

        <div class="text-center col-xs-12 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2 card">
            <h4><b>SUBJECTS</b></h4>
            <p><b>There are currently {{subjectCount}} active subjects</b></p>
            <button class="btn" onclick="window.location='@Url.Action("Index", "Subject")'">Manage</button>
        </div>
    </div>

    <div class="row">
        <div class="text-center col-xs-12 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2 card">
            <h4><b>TEACHERS</b></h4>
            <p><b>There are currently {{courseCount}} active teachers</b></p>
            <button class="btn" onclick="window.location='@Url.Action("Index", "Teacher")'">Manage</button>
        </div>

        <div class="text-center col-xs-12 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2 card">
            <h4><b>STUDENTS</b></h4>
            <p><b>There are currently {{studentCount}} active students</b></p>
            <button class="btn" onclick="window.location='@Url.Action("Index", "Student")'">Manage</button>
        </div>
    </div>

    <div class="row">
        <div class="text-center col-xs-12 col-md-3 col-md-offset-2 col-lg-3 col-lg-offset-2 card">
            <h4><b>GRADES</b></h4>
            <p><b>The average grade is {{averageGrade}}</b></p>
            <button class="btn" onclick="window.location='@Url.Action("Index", "Grade")'">Manage</button>
        </div>
    </div>
</div>

